/*
 * CSS customizations
 */

/* use flexbox to keep footer stuck to bottom */
.pusher {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#page {
  flex: 1;
}

/* toggle visibility of menu button / sidebar at 'mobile' width */
#title .button.item {
  display: none;
}
.pusher #page {
  margin-left: 15rem;
}
@media only screen and (max-width: 767px) {
  #title .button.item {
    display: flex;
  }
  .pusher #sidebar-fixed {
    display: none;
  }
  .pusher #page {
    margin-left: 0;
  }
}

/* additions to semantic-ui */
.ui.vertical.text.menu .tight.item {
  margin: 0;
  padding: .5em;
}
.ui.vertical.text.menu .very.tight.item {
  margin: 0;
  padding: .125em;
}

/* custom styling */
#sidebar-retractable {
  width: 15rem;
}
#sidebar-fixed {
  overflow-y: auto!important;
  height: 100%;
  max-height: 100vh;
}
.larger.text {
  font-size: 150%;
}
.smaller.text {
  font-size: 80%;
}
