/*
  creative commons icons font
  https://creativecommons.org/about/downloads/
*/
@font-face {
  font-family: Icons-CC;
  src: url(cc-icons.woff2) format('woff2'),
       url(cc-icons.woff) format('woff'),
       url(cc-icons.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none
}
i.icon.cc { font-family: Icons-CC; margin-left: -.2em; margin-right: 0; }
i.icon.cc.SA:before { content: "a" }
i.icon.cc.BY:before { content: "b" }
i.icon.cc.CC:before { content: "c" }
i.icon.cc.ND:before { content: "d" }
i.icon.cc.NC:before { content: "n" }
i.icon.cc.Sample:before { content: "m" }
i.icon.cc.Share:before { content: "s" }
i.icon.cc.Remix:before { content: "r" }
i.icon.cc.Logo:before { content: "C" }
